<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

<!--
  <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
    <webhookUri>https://discord.com/api/webhooks/XXXXXXXXXXXXXXXXXXX</webhookUri>
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
        <expression>return (throwableProxy != null &amp;&amp; throwableProxy.getMessage() != null &amp;&amp; throwableProxy.getMessage().matches(".*502 Bad Gateway.*|.*503 Service Unavailable.*|.*404 Not Found.*") || throwableProxy.getMessage() == null);</expression>
      </evaluator>
      <OnMismatch>NEUTRAL</OnMismatch>
      <OnMatch>DENY</OnMatch>
    </filter>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>`%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg`%n```%ex{full}```</pattern>
    </layout>
    <tts>false</tts>
  </appender>

  <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="DISCORD" />
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>
-->

  <logger name="club.minnced.discord.webhook.WebhookClient" level="ERROR" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <root level="INFO">
    <!-- <appender-ref ref="ASYNC_DISCORD" /> -->
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
